/*
| ==================================================
| SIZE
| ==================================================
*/
.b--1 {
	border-width: 1px;
	border-style: solid;
}

.bt--1 {
	border-width: 1px 0 0 0;
	border-style: solid;
}

.br--1 {
	border-width: 0 1px 0 0;
	border-style: solid;
}

.bb--1 {
	border-width:  0 0 1px 0;
	border-style: solid;
}

.bl--1 {
	border-width: 0 0 0 1px;
	border-style: solid;
}



/*
| ==================================================
| COLOR
| ==================================================
*/
.b--white {
	border-color: $white;
}

.b--black {
	border-color: $black;
}

.b--gray {
	border-color: $gray;
}

.b--gray-light {
	border-color: $gray--light;
}

.b--pale {
	border-color: $pale;
}

.b--gray-lighter {
	border-color: $gray--lighter;
}

.b--primary {
	border-color: $primary;
}

.b--danger {
	border-color: $danger;
}



/*
| ==================================================
| RADIUS
| ==================================================
*/

// ALL SIDES
.b-rad--sm {
	border-radius: $radius--sm;
}

.b-rad--md {
	border-radius: $radius--md;
}

.curved {
	border-radius: 2rem;
}

.round {
	border-radius: 100%;
}

// TOP-LEFT
.btl-rad--sm {
	border-top-left-radius: $radius--sm;
}

.btl-rad--md {
	border-top-left-radius: $radius--md;
}

// TOP-RIGHT
.btr-rad--sm {
	border-top-right-radius: $radius--sm;
}

.btr-rad--md {
	border-top-right-radius: $radius--md;
}

// BOTTOM-LEFT
.bbl-rad--sm {
	border-bottom-left-radius: $radius--sm;
}

.bbl-rad--md {
	border-bottom-left-radius: $radius--md;
}

// BOTTOM-RIGHT
.bbr-rad--sm {
	border-bottom-right-radius: $radius--sm;
}

.bbr-rad--md {
	border-bottom-right-radius: $radius--md;
}