/*
| ==================================================
| BACKGROUND COLOR
| ==================================================
*/
.bg--none {
	background: none;
}

.bg--white {
	background: $white;
}

.bg--black {
	background: $black;
}

.bg--pale {
	background: $pale;
}

.bg--gray {
	background: $gray;
}

.bg--gray-light {
	background: $gray--light;
}

.bg--gray-lighter {
	background: $gray--lighter;
}

.bg--primary {
	background: $primary;
}

.bg--danger {
	color: $danger;
}



/*
| ==================================================
| TEXT COLOR
| ==================================================
*/
.text--white {
	color: $white;
}

.text--black {
	color: $black;
}

.text--gray {
	color: $gray;
}

.text--gray-light {
	color: $gray--light;
}

.text--gray-lighter {
	color: $gray--lighter;
}

.text--primary {
	color: $primary;
}

.text--success {
	color: $success;
}

.text--info {
	color: $primary--light;
}

.text--danger {
	color: $danger;
}