.flex--1 {
	flex: 1 1 0;
}

.ai--center {
	align-items: center;
}

.jc--between {
	justify-content: space-between;
}

.jc--around {
	justify-content: space-around;
}

.jc--center {
	justify-content: center;
}

.jc--end {
	justify-content: flex-end;
}

.flex-wrap {
	flex-wrap: wrap;
}