// ALL SIDES
.mg--xs {
	margin: var(--space-xs);
}

.mg--sm {
	margin: var(--space-sm);
}

.mg--md {
	margin: var(--space-md);
}

.mg--lg {
	margin: var(--space-lg);
}


// TOP
.mg-t--xs {
	margin-top: var(--space-xs);
}

.mg-t--sm {
	margin-top: var(--space-sm);
}

.mg-t--md {
	margin-top: var(--space-md);
}

.mg-t--lg {
	margin-top: var(--space-lg);
}

.mg-t--auto {
	margin-top: auto;
}


// RIGHT
.mg-r--xs {
	margin-right: var(--space-xs);
}

.mg-r--sm {
	margin-right: var(--space-sm);
}

.mg-r--md {
	margin-right: var(--space-md);
}

.mg-r--lg {
	margin-right: var(--space-lg);
}

.mg-r--auto {
	margin-right: auto;
}


// BOTTOM
.mg-b--xs {
	margin-bottom: var(--space-xs);
}

.mg-b--sm {
	margin-bottom: var(--space-sm);
}

.mg-b--md {
	margin-bottom: var(--space-md);
}

.mg-b--lg {
	margin-bottom: var(--space-lg);
}

.mg-b--auto {
	margin-bottom: auto;
}


// LEFT
.mg-l--xs {
	margin-left: var(--space-xs);
}

.mg-l--sm {
	margin-left: var(--space-sm);
}

.mg-l--md {
	margin-left: var(--space-md);
}

.mg-l--lg {
	margin-left: var(--space-lg);
}

.mg-l--auto {
	margin-left: auto;
}