// ALL SIDES
.mg--xs {
	margin: $space--xs;
}

.mg--sm {
	margin: $space--sm;
}

.mg--md {
	margin: $space--md;
}

.mg--lg {
	margin: $space--lg;
}


// TOP
.mg-t--xs {
	margin-top: $space--xs;
}

.mg-t--sm {
	margin-top: $space--sm;
}

.mg-t--md {
	margin-top: $space--md;
}

.mg-t--lg {
	margin-top: $space--lg;
}

.mg-t--auto {
	margin-top: auto;
}


// RIGHT
.mg-r--xs {
	margin-right: $space--xs;
}

.mg-r--sm {
	margin-right: $space--sm;
}

.mg-r--md {
	margin-right: $space--md;
}

.mg-r--lg {
	margin-right: $space--lg;
}

.mg-r--auto {
	margin-right: auto;
}


// BOTTOM
.mg-b--xs {
	margin-bottom: $space--xs;
}

.mg-b--sm {
	margin-bottom: $space--sm;
}

.mg-b--md {
	margin-bottom: $space--md;
}

.mg-b--lg {
	margin-bottom: $space--lg;
}

.mg-b--auto {
	margin-bottom: auto;
}


// LEFT
.mg-l--xs {
	margin-left: $space--xs;
}

.mg-l--sm {
	margin-left: $space--sm;
}

.mg-l--md {
	margin-left: $space--md;
}

.mg-l--lg {
	margin-left: $space--lg;
}

.mg-l--auto {
	margin-left: auto;
}