// ALL SIDES
.pd--xs {
	padding: var(--space-xs);
}

.pd--sm {
	padding: var(--space-sm);
}

.pd--md {
	padding: var(--space-md);
}

.pd--lg {
	padding: var(--space-lg);
}


// TOP
.pd-t--xs {
	padding-top: var(--space-xs);
}

.pd-t--sm {
	padding-top: var(--space-sm);
}

.pd-t--md {
	padding-top: var(--space-md);
}

.pd-t--lg {
	padding-top: var(--space-lg);
}


// RIGHT
.pd-r--xs {
	padding-right: var(--space-xs);
}

.pd-r--sm {
	padding-right: var(--space-sm);
}

.pd-r--md {
	padding-right: var(--space-md);
}

.pd-r--lg {
	padding-right: var(--space-lg);
}


// BOTTOM
.pd-b--xs {
	padding-bottom: var(--space-xs);
}

.pd-b--sm {
	padding-bottom: var(--space-sm);
}

.pd-b--md {
	padding-bottom: var(--space-md);
}

.pd-b--lg {
	padding-bottom: var(--space-lg);
}


// LEFT
.pd-l--xs {
	padding-left: var(--space-xs);
}

.pd-l--sm {
	padding-left: var(--space-sm);
}

.pd-l--md {
	padding-left: var(--space-md);
}

.pd-l--lg {
	padding-left: var(--space-lg);
}