@media only screen and (max-width: 1024px) {
	.sidebar {
		width: 30%;
	}
}

@media only screen and (min-width: 768px) {
	.header {
		height: 54px;
		
		&__bars, &__arrow {
			display: none;
		}
	}
}

@media only screen and (max-width: 768px) {
	.header {
		&__signout {
			margin-left: $space--md;
		}
	}

	.sidebar {
		width: 0;

		&__wrap {
			width: 250px;
			left: -250px;
			z-index: 10;
			transition: left 200ms ease-in-out;

			&.show {
				left: 0;
			}
		}
	}

	.rightbar {
		width: 0;

		&__wrap {
			width: 250px;
			right: -250px;
			z-index: 10;
			transition: right 200ms ease-in-out;

			&.show {
				right: 0;
			}
		}
	}
}