.btn {
	border: none;
	background: none;
	cursor: pointer;

	&:disabled {
		background: $pale;
		color: $gray--light;
		cursor: default;
	}
}

.btn--primary:not(:disabled) {
	background: $primary--light;
	color: $white;

	&:hover {
		background: lighten($primary--light, 5%);
	}
}

.btn--secondary:not(:disabled) {
	background: $gray--lighter;
	color: $black;

	&:hover {
		background: $gray--light;
	}
}

.btn--danger {
	background: $danger;
	color: $white;

	&:hover {
		background: lighten($danger, 5%);
	}
}

.btn--black {
	background: $black;
	color: $white;

	&:hover {
		background: lighten($black, 5%);
	}
}

.btn--white {
	background: none;
	color: $black;

	&:hover {
		background: darken($white, 5%);
	}
}