.rightbar {
	width: 200px;

	&__wrap {
		@include coords(54px, 0, null, null);
		width: inherit;
		min-height: calc(100vh - 54px);
	}

	&__avatar {
		width: 100px;
	}

	&__avatar-container {
		@include size(106px);
		border: 3px solid var(--blue);
	}

	&__upload-button {
		@include coords(0, null, null, 0);
		@include size(100%);
		background: rgba(0, 0, 0, 0.5);
		opacity: 0;

		&:hover {
			opacity: 1;
		}
	}
}