.sidebar {
	width: 300px;

	&__wrap {
		@include coords(54px, null, null, 0);
		width: inherit;
		min-height: calc(100vh - 54px);
	}

	&__contacts {
		height: calc(100vh - 105px);
		overflow-y: auto;
	}

	&__list-item {
		&:hover {
			background: var(--pale);
		}

		&.active {
			background: var(--gray-60);
		}
	}

	&__avatar {
		@include size(35px);
	}

	&__item-info {
		width: 70%;
	}

	&__message {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	&__right-side {
		@include size(10px);
	}
}