$primary: #5087C7;
$primary--light: #45A3D7;
$success: #40BD67;
$danger: #DC3333;
$white: #FFFFFF;
$black: #333333;
$pale: #F0F0F0;
$gray: #6d6b6b;
$gray--light: #AFAFAF;
$gray--lighter: #CFCFCF;

$font--sm: 12px;
$font--md: 14px;
$font--lg: 16px;
$font--xl: 24px;

$space--xs: 5px;
$space--sm: 10px;
$space--md: 15px;
$space--lg: 30px;

$radius--sm: 5px;
$radius--md: 10px;