:root {
	--white: #FFFFFF;
	--black: #333333;
	--pale: #F0F0F0;
	--gray-20: #9f9f9f;
	--gray-40: #AFAFAF;
	--gray-60: #CFCFCF;
	--blue: #5087C7;
	--light-blue: #45A3D7;
	--red: #DC3333;

	--font-sm: 12px;
	--font-md: 14px;
	--font-lg: 16px;
	--font-xl: 24px;

	--space-xs: 5px;
	--space-sm: 10px;
	--space-md: 15px;
	--space-lg: 30px;

	--radius-sm: 5px;
	--radius-md: 10px;
}